DISCORD_TOKEN=your_token
DEBUG=false
SEQUELIZE_LOGGING=false
NODE_ENV=dev
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_postgres_db
POSTGRES_HOST=0.0.0.0
POSTGRES_PORT=5440
GUILD_ID=your_guild_id
BOT_MAILER=your_mailer
BOT_MAILER_PASSWORD=your_mailer_password
BOT_MAILER_SERVICE=your_mailer_service